# Archivo de configuración de traced/tracebox para Perfetto
# Documentación: https://perfetto.dev/docs/concepts/config

buffers {
    size_kb: 1024
    fill_policy: RING_BUFFER
}

data_sources: {
    config {
        name: "track_event"
        track_event_config {
            # Categorías de eventos a registrar (toma preferencia
            # sobre la lista de categorías de eventos a ignorar)
            # Ejemplo: "trabajo,init,..."
            enabled_categories: "*"
            # Categorías de eventos a ignorar
            disabled_categories: "*"
        }
    }
}
